@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root
{
    --background-color: #212529;
    --primary-color: #3d24c7;
    --secondary-color: #8369fa;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-width: 250px;
    min-height: 100vh;
    display:grid;
    place-content:center;
    font-family: 'Poppins', sans-serif;
    background-color:var(--background-color);
}

.bg-img
{
    position: fixed;
    width: 100vw;
    height: 220px;
    bottom: 0px;
    background-image: url('../src/layered-waves-haikei.svg');
    background-position: bottom;
    z-index: -1;
}

.logo {
    width: 200px !important;
}

.divLogoImage
{
    width:350px;
    height: 350px;
    max-width:768px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
    margin-top: -150px;
      
}

h1 {
    align-self: center;
    margin-bottom: 15px;
}

form{
    width:350px;
    max-width:768px;
    border:1px solid #ececec;
    background-color: #ececec;
    padding:40px;
    display:flex;
    flex-direction:column;
    border-radius:50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.288);
}

label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #838282; 
    
}
input{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    background-color: #ececec;
}
input::placeholder{
    opacity:0;
}
span{
    position:absolute;
    top:0px;
    left:0;
    transform:translateY(30px);
    font-size:1em;
    transition-duration:300ms;
    pointer-events: none;
    cursor: text;
}
button{
    padding:15px 0px; 
    margin-top:30px;
    background: var(--primary-color);
    color:#fff;
    border:0;
    cursor:pointer;
    border-radius:30px;
}

button:hover{
    filter: grayscale(0.3);
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:var(--primary-color);
    transform:translateY(0px);
}

.warningUser,  .warningPass
{
    display: none;
}

.warningIcon
{
    background-image: url('/Project-TI/src/warning-icon.svg');
    background-repeat: no-repeat; /* width of the image plus a little extra padding */
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-top: -6px;
    display: block;
}


.fail{
    display: block;
    color: red; 
    text-decoration:dashed;
    width: fit-content;
    right: 0;
    margin-top: -10px;
    padding: 0;
}

.faildiv
{
    display: none;
    margin-bottom: -20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .fade-in.loaded {
    opacity: 1;
  }